<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Your Confirmation login link :</h1>
    <%= link_to 'Confirm mail' , @login_link %>
</body>
</html>