<footer class="bg-transparent text-center text-lg-start mt-auto">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1); opacity: 0.8;">
    © 2023 Copyright:
    <a class="text-danger font-weight-bold" href="" style="text-decoration: none;">ZomZom</a>
  </div>
</footer>
