<div class="container text-center mt-3" id="home-container">
    <%= render 'shared/flash' %>
    <div class="jumbotron mx-auto p-2 shadow p-3 mb-5 rounded">
        <h1 class="display-4">Welcome to the Zomato</h1>
        <p class="lead mt-4">Give your current location and then choose restaurants</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <%= link_to "Sign up!" , signup_path , class: "btn btn-success btn-lg" %>
    </div>
</div>