.nav-link {
  color: white !important;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#notification-list {
  width: 350px;
  max-height: 300px;
  overflow: auto;
}

.rating-star {
  font-size: 24px;
  cursor: pointer;
  color: grey;
}

.rating-star:hover {
  color: gold;
}


a {
  text-decoration: none !important;
}

#alert-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.alertcart {
  padding: 20px;
  background-color:  rgba(255, 221, 0, 0.6);
  font-weight: 700;
}