.nav-link {
  color: white !important;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#notification-list {
  width: 350px;
  max-height: 300px;
  overflow: auto;
}

.rating-star {
  font-size: 24px;
  cursor: pointer;
  color: grey;
}

.rating-star:hover {
  color: gold;
}

@keyframes glow {

  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 223, 0, 0.7);
  }

  50% {
    transform: scale(1.10);
    box-shadow: 0 0 20px rgba(255, 223, 0, 0.7);
  }
}

.glow-animation {
  animation: glow 1s infinite;
}


.fancy-alert {
  font-family: sans-serif;
  color: white;
  width: 78px;
  z-index: 1020;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  height: 78px;
  background-color: gray;
  scale: 0;
  transition: all .5s;

  &.fancy-alert__active {
    opacity: 1;
    top: 20px;
    scale: 1;
  }

  &.fancy-alert__extended {
    width: 800px;

    .fancy-alert--content {
      opacity: 1;
      transition: all .5s;
    }

    .fancy-alert--words {
      top: 18px;
      ;
      opacity: 1;
    }
  }

  &.error {
    background-color: #D64646;
  }

  &.success {
    background-color: #3CB971;
  }

  &.info {
    background-color: #E8C22C;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  .fancy-alert--content {
    padding: 10px;
    opacity: 0;
  }


  .fancy-alert--words {
    font-size: 18px;
    font-weight: bold;
    padding: 0 18px 0 90px;
    max-width: 80%;
    position: relative;
    top: -50px;
    opacity: 0;
    height: 60px;
    transition: all .3s;
    transition-delay: .5s;
  }

  .fancy-alert--icon {
    padding: 26px;
    float: left;
    font-size: 26px;
    background-color: rgba(3, 3, 3, 0.15);
  }

  .fancy-alert--close {
    position: absolute;
    text-decoration: none;
    right: 10px;
    top: 10px;
    font-size: 15px;
    padding: 6px 9px;
    background: rgba(0, 0, 0, 0.12);
  }
}

.show-alert {
  border: 0;
  background: #F2F2F2;
  padding: 15px 70px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 3px solid #C8C8C8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.23), inset 0 -53px 20px -30px rgba(59, 65, 74, 0.06);
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  color: #808080;
  text-shadow: 0 1px #FFF;
  outline: 0;
  position: relative;

  &:active {
    border: 0;
    box-shadow: none;
    top: 2px;
  }
}

.show-alert__info {
  color: #E8C22C;
}

.show-alert__success {
  color: #3CB971;
}

.show-alert__error {
  color: #D64646;
}