<div class="container">
    <h1 class="text-center mt-4">Book Table</h1>
    <%#= render 'shared/error_messages', object: @book_table %>
    <%= render 'shared/flash' %>
    <%= render 'form' %>
</div>